<!-- This page is the master page for all template pages that are part of this frontend template. 
    It provides the header and footer element for every other page.-->

{% load static %}

<!doctype html>
<html id="styleguide" class="" lang="en">
        
    <head>
            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta charset="utf-8"><meta name="viewport" content="width=device-width,initial-scale=1">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">  
                              
            <title>Meraki License Renewal Tool</title>
            
                <link rel="stylesheet" href="{% static 'webapp/css/mui-variables.css' %}">
                <link rel="stylesheet" href="{% static 'webapp/css/cui-standard.css' %}">
                <link rel="icon" href="{% static 'webapp/images/Logo_small_green.png' %}">    

                <!--script link for Charts.js library-->
                <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.min.js"></script>
      
            <link rel="stylesheet" href="{% static 'webapp/css/customStyles.css' %}">
            <script src="https://code.jquery.com/jquery-3.0.0.min.js" integrity="sha256-JmvOoLtYsmqlsWxa7mDSLMwa6dZ9rrIdtrrVYRnDRH0=" crossorigin="anonymous"></script>
            <script src="{% static 'webapp/js/styleguide.js' %}"></script>
            <script src="{% static 'webapp/js/loader.js' %}"></script>
            <script src="{% static 'webapp/js/selects.js' %}"></script>

    </head>
        <body class="cui">
    
             <!-- Header -->
            <nav class="header" id="styleguideheader" style="background:#393939;">
                <div class="container-fluid">
                    <div class="header-panels">
                        <!--Cisco logo and title area (left)-->
                        <div class="header-panel">
                            <a class="header-bar__logo header__logo" href="/home">
                                <img id="header-logo" src="{% static 'webapp/images/cisco-logo.png' %}" width="150" ></img>
                            </a>
                            
                        </div>
                        <div class="header-panel header-panel--center"> 
                            <center>
                                <h1 class="header__title" style="color:white">License Renewal Tool</h1>
                            </center>
                        </div>
                        <!--Link area (right)-->
                        <div class="header-panel header-panel--right"> 
                            
                            <!--CUSTOMIZE: Add or remove Header links-->
                            <!--PASS INFO: Header links are hidden, if hiddenLinks=false variable is passed to child template-->
                            <a class="header-item {% if hiddenLinks == True %}hidden-5xl-down{% endif %}" href="/"><span class="icon-home"></span></a> 
                            <a class="header-item {% if hiddenLinks == True %}hidden-5xl-down{% endif %}" href="/"><!--CUSTOMIZE: Menu element name--></a>
                            <a class="header-item {% if hiddenLinks == True %}hidden-5xl-down{% endif %}" href="/">Logout</a>
                            <a class="header-item" style="color: white;" href="/home"><span style="margin-top: 6px;">Home&nbsp;</span><img src="{% static 'webapp/images/home-logo.png' %}" width="30px"></a> 
                            <a class="header-item" style="color: white;" href="/logs"><span style="margin-top: 6px;">Admin&nbsp;</span><img src="{% static 'webapp/images/log-logo.png' %}" width="30px"></a> 
                            <!--CUSTOMIZE END-->

                        </div>  
                    </div>
                </div>
            </nav>
  
            <!--Content-->
            <div class="content content--alt">
                <div class="container-fluid">                
    
                        {% block content %}
                        
                        {% endblock %}
                        
                </div>
            </div>
            
            <!-- Footer -->
            <footer class="footer">
                <div class="footer__links">
                    <ul class="list list--inline">

                        <!--CHOOSE-->
                        <!--Meraki Design:-->
                           <li><a href="https://gve-devnet.cisco.com/"><img id="footer-link-gve-devnet" src="{% static 'webapp/images/Logo_long_green.png' %}"></a></li>
                            <li><a href="https://account.meraki.com/secure/login/dashboard_login"><img id="footer-link-meraki" src="{% static 'webapp/images/cisco-meraki-logo.webp' %}"></a></li>
                          
                        <!--CHOOSE END-->

                        <li><a href="http://www.cisco.com/cisco/web/siteassets/contacts/index.html" target="_blank">Contacts</a></li>
                        <li><a href="https://secure.opinionlab.com/ccc01/o.asp?id=jBjOhqOJ" target="_blank">Feedback</a></li>
                        <li><a href="https://www.cisco.com/c/en/us/about/help.html" target="_blank">Help</a></li>
                        <li><a href="https://www.cisco.com/c/en/us/about/legal/terms-conditions.html" target="_blank">Terms & Conditions</a></li></li>
                        <li><a href="https://www.cisco.com/c/en/us/about/legal/privacy-full.html" target="_blank">Privacy Statement</a></li>
                        <li><a href="https://www.cisco.com/c/en/us/about/legal/privacy-full.html#cookies" target="_blank">Cookie Policy</a></li>
                        <li><a href="https://www.cisco.com/c/en/us/about/legal/trademarks.html" target="_blank">Trademarks</a></li>
                    </ul>
                </div>
            </footer>
        </body>
    </html>
    